@charset "UTF-8";
body {
  font-family: "";
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.btn__inner--wrap {
  display: inherit;
  max-width: inherit;
  width: inherit;
  min-height: inherit;
  height: inherit;
}
.btn__inner {
  display: inherit;
  max-width: inherit;
  width: inherit;
  min-height: inherit;
  height: inherit;
}
.btn__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  max-width: inherit;
  width: inherit;
  min-height: inherit;
  height: inherit;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.45;
  color: #fff;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .btn__text {
    font-size: 1rem;
    line-height: 3.375;
  }
}
.btn {
  display: inline-block;
  max-width: 335px;
  max-width: 20.9375rem;
  width: 100%;
  min-height: 50px;
  min-height: 3.125rem;
  height: 100%;
  background-color: #333;
  padding: 0;
  border: #fff 1px solid;
  margin-top: 0px;
  margin-top: 0rem;
  margin-right: 0px;
  margin-right: 0rem;
  margin-bottom: 21px;
  margin-bottom: 1.3125rem;
  margin-left: 0px;
  margin-left: 0rem;
}
.outside {
  text-align: center;
}
.swiper {
  min-width: 375px;
  min-width: 23.4375rem;
  width: 100%;
  min-height: 261px;
  min-height: 16.3125rem;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .swiper {
    max-width: 34.8125rem;
    width: 100%;
    max-height: 24.3125rem;
    height: 100%;
  }
}
.swiper-slide {
  display: inline-block;
  min-width: 375px;
  min-width: 23.4375rem;
  width: 100%;
  min-height: 261px;
  min-height: 16.3125rem;
  height: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination {
  position: static;
  position: initial;
}
@media screen and (min-width: 768px) {
  .swiper-pagination {
    -webkit-transform: translate3d(-1.5rem, 0.4375rem, 0rem);
            transform: translate3d(-1.5rem, 0.4375rem, 0rem);
  }
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #f9f871;
}

@media screen and (min-width: 768px) {
  .works__contents--bg {
    width: 67.6%;
    min-height: 34.375rem;
    height: 100%;
    margin-left: auto;
    background-color: #333;
  }
}
@media screen and (min-width: 768px) {
  .works__contents--img-text-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .works__contents--img-text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -47%);
            transform: translate(-50%, -47%);
    padding-right: 25px;
    padding-left: 25px;
  }
}
@media screen and (min-width: 768px) {
  .works__contents--wrap {
    width: 100%;
    position: relative;
  }
}
.works__explain--inner-wrap {
  display: inherit;
  width: inherit;
  height: inherit;
}
.works__explain--inner {
  display: inherit;
  width: inherit;
  height: inherit;
}
.works__explain--text {
  display: inherit;
  width: inherit;
  height: inherit;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.4375;
  color: #fff;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .works__explain--text {
    font-size: 1rem;
    letter-spacing: 0.0125rem;
    line-height: 2.1875;
  }
}
.works__explain {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 0px;
  padding-right: 0rem;
  padding-bottom: 25px;
  padding-bottom: 1.5625rem;
  padding-left: 0px;
  padding-left: 0rem;
}
.works__inner {
  padding-top: 49px;
  padding-top: 3.0625rem;
  padding-right: 0px;
  padding-right: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 0px;
  padding-left: 0rem;
}
.works__main-title--inner-wrap {
  display: inherit;
  width: inherit;
  height: inherit;
}
.works__main-title--inner {
  display: inherit;
  width: inherit;
  height: inherit;
}
.works__main-title--text {
  display: inherit;
  width: inherit;
  height: inherit;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.45;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .works__main-title--text {
    font-size: 1.5625rem;
    letter-spacing: 0.03125rem;
    line-height: 0.64;
  }
}
.works__main-title {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 0px;
  padding-right: 0rem;
  padding-bottom: 24px;
  padding-bottom: 1.5rem;
  padding-left: 0px;
  padding-left: 0rem;
}
.works__text-box--wrap {
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
  padding-left: 20px;
  padding-left: 1.25rem;
}
@media screen and (min-width: 768px) {
  .works__text-box--wrap {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 0rem;
    padding-left: 0rem;
    margin-right: 0rem;
    text-align: left;
  }
}
.works__text-box {
  background-color: #333;
}
@media screen and (min-width: 768px) {
  .works__text-box {
    width: 31.875rem;
    height: 100%;
  }
}
.works__title--inner {
  padding-top: 0px;
  padding-top: 0rem;
  padding-right: 0px;
  padding-right: 0rem;
  padding-bottom: 48px;
  padding-bottom: 3rem;
  padding-left: 0px;
  padding-left: 0rem;
}
@media screen and (min-width: 768px) {
  .works__title--inner {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 2.5625rem;
    padding-left: 0rem;
  }
}
.works__title--text {
  display: inherit;
  width: inherit;
  height: inherit;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.45;
  color: #fff;
  position: relative;
}
@media screen and (min-width: 768px) {
  .works__title--text {
    font-size: 1.875rem;
    letter-spacing: 0.03125rem;
    line-height: 1.1;
  }
}
.works__title--text::before {
  content: "Works";
  display: inline-block;
  height: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
  color: #f9f871;
  opacity: 0.2;
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  font-size: 3.125rem;
  letter-spacing: 2px;
  letter-spacing: 0.125rem;
  line-height: 1.44;
}
@media screen and (min-width: 768px) {
  .works__title--text::before {
    font-size: 6.875rem;
    line-height: 1.436;
    -webkit-transform: translate(64%, -132%);
            transform: translate(64%, -132%);
    letter-spacing: 0.25rem;
  }
}
@media screen and (min-width: 768px) {
  .works-swiper {
    margin-right: 2rem;
  }
}
.works {
  display: inline-block;
  min-width: 376px;
  min-width: 23.5rem;
  width: 100%;
  height: 100%;
  background-color: #111;
}
/*# sourceMappingURL=styles.css.map */
