@use "global" as *;
.btn {
  display: inline-block;
  max-width: rem(335);
  width: 100%;
  min-height: rem(50);
  height: 100%;
  background-color: #333;
  padding: 0;
  border: #fff 1px solid;
  margin-top: rem(0);
  margin-right: rem(0);
  margin-bottom: rem(21);
  margin-left: rem(0);

  @include mq(md) {
  }
  @include mq(xl) {
  }
}
