@use "global" as *;
.works__explain {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-top: rem(0);
  padding-right: rem(0);
  padding-bottom: rem(25);
  padding-left: rem(0);
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
