@use "global" as *;
.works__text-box--wrap {
  padding-top: rem(0);
  padding-right: rem(20);
  padding-bottom: rem(0);
  padding-left: rem(20);
  @include mq(md) {
    padding-top: rem(0);
    padding-right: rem(0);
    padding-bottom: rem(0);
    padding-left: rem(0);
    margin-right: rem(0);
    text-align: left;
  }
  @include mq(xl) {
  }
}
