@use "global" as *;
.works {
  display: inline-block;
  min-width: rem(376);
  max-width: rem(768);
  width: 100%;
  min-height: rem(723);
  height: 100%;
  background-color: #111;
  @include mq(md) {
    max-width: initial;
    width: 100%;
    // min-height: rem(677);
    // height: 100%;
  }
  @include mq(xl) {
  }
}
