@use "global" as *;
.works__main-title--text {
  display: inherit;
  width: inherit;
  height: inherit;

  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: $normal;
  font-size: rem(20);
  letter-spacing: rem(2);
  line-height: 1.45;
  color: #fff;
  @include mq(md) {
    font-size: rem(25);
    letter-spacing: rem(0.5);
    line-height: 0.64;
  }
  @include mq(xl) {
  }
}
