@use "global" as *;
.works__text-box--wrap {
  padding-top: rem(0);
  padding-right: rem(20);
  padding-bottom: rem(0);
  padding-left: rem(20);
  @include mq(md) {
    display: inline-block;
    max-width: rem(510);
    width: 100%;
    min-height: rem(312);
    height: 100%;
    transform: translate(27%, 50%);
  }
  @include mq(xl) {
  }
}
