@use "global" as *;
.works__contents--inner {
  @include mq(md) {
    display: inherit;
    max-width: inherit;
    width: inherit;
    min-height: inherit;
    height: inherit;
  }
  @include mq(xl) {
  }
}
