@use "global" as *;
.works__contents {
  background-color: #333;
  @include mq(md) {
    display: inline-block;
    width: 70%;
    min-height: rem(550);
    height: 100%;
    background-color: #333;
    // position: relative;
    margin-left: 30%;
  }
  @include mq(xl) {
  }
}
