@use "global" as *;
.works__explain--text {
  display: inherit;
  width: inherit;
  height: inherit;

  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: $normal;
  font-size: rem(20);
  letter-spacing: rem(2);
  line-height: 1.4375;
  color: #fff;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
